git submodule add https://github.com/NikhilKharsan/ProductCatalogService.git ProductCatalogService
git submodule add https://github.com/NikhilKharsan/UserAuthenticationService.git UserAuthenticationService
git submodule add https://github.com/NikhilKharsan/PaymentService.git PaymentService
git submodule add https://github.com/NikhilKharsan/EmailService.git EmailService
git submodule add https://github.com/NikhilKharsan/ServiceDiscovery.git ServiceDiscovery